.button {
  background: linear-gradient(45deg, #67438f, #dda927);
  color: #ededec;
  border: none;
  border-radius: 100px;
  width: 221px;
  height: 59px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 10px 10px 13px;
}


.icon {
  margin-right: 5px; /* 與文字的間距 */
  width: 16px; /* 圖標寬度 */
  height: 16px; /* 圖標高度 */
}
