.footerContainer::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    #6d4799 0%,
    #805785 7%,
    #ac7c59 24%,
    #cb973a 39%,
    #dfa826 52%,
    #e6ae20 61%,
    #e6af24 64%,
    #e7b532 67%,
    #e9bd49 71%,
    #ecca69 75%
  );
}

.footerSection {
  display: flex;
}

.footerLogo {
  display: flex; /* 必须设置为 flex */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  flex-direction: column;
}

.Logo {
  margin-top: 40px;
}

.zionname {
  position: relative;
  bottom: 30px;
  margin: 0;
  text-align: center; /* 确保文字在父容器中水平居中 */
  color: #404040;
  font-weight: 600;
}

.link {
  width: 70%; /* 確保容器寬度 */
  display: flex;
  justify-content: center; /* 水平置中 */
  margin-top: 80px;
}

.footerList {
  display: flex; /* 使用 Flexbox */
  flex-wrap: wrap; /* 允許換行 */
  list-style: none; /* 去掉列表點 */
  padding: 0;
  margin: 0;
  justify-content: left; /* 置中對齊 */
}

.footerList li {
  flex: 1 1 30%; /* 項目占據寬度的 30%（適合三列布局） */
  max-width: 250px; /* 控制每個項目的最大寬度 */
  color: #404040;
  font-style: inter;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer; /* 滑鼠指針樣式 */
  text-align: left;
  transition: color 0.3s ease; /* 滑鼠懸停效果 */
}

.footerList li:nth-child(3) {
  position: relative;
  left: 40px;
}

.footerList li:nth-child(4),
.footerList li:nth-child(5) {
  position: relative;
  bottom: 50px;
}

.footerList li:nth-child(5) {
  position: relative;
  right: 43px;
}

.footerList li:hover {
  color: #e6ae20;
}

.Buttonare {
  width: 500px;
}

.footerButton {
  width: 363px;
  height: 97px;
  flex-shrink: 0;
  position: relative;
  top: 100px;
}

.footer {
  margin-top: 40px;
  text-align: center;
  color: #404040;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 786px) {
  body,
  html {
    margin: 0 auto;
    height: auto;
  }

  .footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerList {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 居中图片 */
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .link {
    margin-top: 0px;
  }
  .footerList li {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 居中图片 */
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
  }

  .footerList li,
  .footerList li:nth-child(3),
  .footerList li:nth-child(4),
  .footerList li:nth-child(5) {
    position: static;
    flex: none;
  }

  .Buttonarea {
    display: none;
  }

  .footerButton {
    position: static;
  }
  .footer {
    margin-top: 20px;
  }
  .copyright {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
}
