/* 整个功能区块的容器 */
.featuresContainer {
  margin-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-bottom: 80px;
}

/* 标题样式 */
.featuresTitle {
  margin-top: 250px;
  text-align: left;
  color: #35003b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 标题下方的装饰线 */
.featuresTitle::after {
  content: "";
  display: block;
  width: 174px;
  height: 5px;
  margin-top: 2px;
  background: linear-gradient(
    to right,
    #6d4799 0%,
    #805785 7%,
    #ac7c59 24%,
    #cb973a 39%,
    #dfa826 52%,
    #e6ae20 61%,
    #e6af24 64%,
    #e7b532 67%,
    #e9bd49 71%,
    #ecca69 75%,
    #efda93 79%,
    #f3edc5 82%,
    #f5f2d2 83%,
    #ededec 99%
  );
}

/* 每个功能区块的主要样式 */
.featureAlternate {
  display: grid; /* 使用网格布局 */
  grid-template-columns: repeat(2, 1fr); /* 定义两列，列宽均分 */
  gap: 0px; /* 项目之间的间距 */
}

/* 正常方向的内容排列 */
.featureAlternate._normal {
  grid-template-areas: "content image";
}

/* 反向的内容排列 */
.featureAlternate._reverse {
  grid-template-areas: "image content";
}

/* 文本内容区块 */

.featureContent {
  grid-area: content;
  text-align: left;
  padding-top: 80px;
  padding-left: 80px;
}

/* 功能标题的样式 */
.featurePointTitle {
  display: flex;
  gap: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #af8057;
  align-items: center;
}

/* 功能描述文本样式 */
.featureText {
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #404040;
  font-weight: 700;
  line-height: 1.5;
  max-width: 360px;
}

/* 图片区块 */
.featureThumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureThumb img {
  grid-area: image;
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

/* 分隔线样式 */
.divider {
  margin: 20px auto;
  width: 80%;
  max-width: 720px;
  border-top: 2px dashed #e6ae20;
  display: flex;
  position: relative;
  left: 230px;
}

/* 针对每个功能区块的独特样式 */
.feature1 .featureContent {
  position: relative;
  left: 45px;
}

.feature2 .featureContent {
  position: relative;
  top: 30px;
  right: 135px;
}

.feature3 .featureContent {
  position: relative;
  left: 47px;
  top: 45px;
}

.feature4 .featureContent {
  position: relative;
  top: 50px;
  right: 130px;
}

.feature5 .featureContent {
  position: relative;
  left: 50px;
}

.feature1 .featureImage {
  position: relative;
  right: 130px;
}
.feature2 .featureImage {
  position: relative;
  left: 20px;
}
.feature3 .featureImage {
  position: relative;

  right: 140px;
}
.feature4 .featureImage {
  position: relative;
  left: 25px;
}
.feature5 .featureImage {
  position: relative;
  right: 150px;
}
/* 响应式设计：最大宽度 768px */
@media screen and (max-width: 768px) {
  /* 整个功能区块的容器 */
  .featuresContainer {
    margin-top: 0px;
    padding: 0px 0px 0px 20px;
  }

  /* 确保功能区块的排版正确 */
  .featureAlternate {
    display: flex; /* 使用 flex 布局 */
    flex-direction: column-reverse; /* 确保图片在上，文字在下 */
    align-items: center; /* 确保所有元素居中 */
    position: static; /* 移除相对定位 */
    margin-top: 0px;
  }

  .featuresTitle {
    color: #35003b;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 25px;
    font-style: inter;
    font-weight: 700;
    letter-spacing: 4.8px;
    display: inline-block;
    white-space: nowrap; /* 禁止內容換行 */
    margin-top: 0px;
  }

  /* 移除可能影响排版的相对定位 */
  .feature1 .featureContent,
  .feature2 .featureContent,
  .feature3 .featureContent,
  .feature4 .featureContent,
  .feature5 .featureContent {
    text-align: center; /* 文字居中 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 居中图片 */
    align-items: left;
    width: 100%; /* 确保内容区域宽度为100% */
    position: static; /* 移除相对定位 */
  }

  .featureContent::after {
    content: "";
    background-color: #e9bd49;
    height: 1.5px;
    width: 70%;
    margin-top: 20px;
    align-self: center;
  }

  .featureContent:last-child::after {
    display: none; /* 隱藏最後一個 .featureContent 的 ::after 伪元素 */
  }

  .featureThumb {
    display: flex;
    justify-content: center; /* 居中图片 */
    align-items: center;
    width: 100%; /* 确保图片容器宽度为100% */
  }

  .feature1 .featureImage,
  .feature2 .featureImage,
  .feature3 .featureImage,
  .feature4 .featureImage,
  .feature5 .featureImage {
    position: static; /* 移除相对定位 */
    align-self: left;
  }
  .featureThumb {
    margin: 0px;
    padding: 0px;
  }
  .featureThumb img {
    max-width: 90%; /* 限制图片最大宽度 */
    height: auto; /* 保持图片比例 */
    object-fit: contain; /* 确保图片不会变形 */
    margin-bottom: 0;
  }

  .featurePointTitle {
    font-size: 20px; /* 调整标题字体大小 */
    margin-bottom: 10px; /* 调整标题与文本的间距 */
    text-align: left;
    margin-top: 0px;
  }

  .featurePointTitle img {
    width: 15%;
    height: auto;
  }

  .featureText {
    color: #404040;
    font-style: inter;
    font-size: 15px;
    max-width: 90%;
    line-height: 28px; /* 216.667% */
    text-align: left;
  }

  /* 分隔线样式 */
  .divider {
    position: static;
    display: none;
  }
}
