.gridContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 20px;
  position: relative; /* 為內部元素提供相對定位基準 */
}

/* h1 標題樣式 */
.AboutTitle {
  margin-top: 280px;
  color: #35003b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4.8px;
  display: inline-block;
  white-space: nowrap; /* 禁止內容換行 */
}

.AboutTitle::after {
  content: "";
  display: block;
  width: 174px;
  height: 5px;
  margin-top: 2px;
  background: linear-gradient(
    to right,
    #6d4799 0%,
    #805785 7%,
    #ac7c59 24%,
    #cb973a 39%,
    #dfa826 52%,
    #e6ae20 61%,
    #e6af24 64%,
    #e7b532 67%,
    #e9bd49 71%,
    #ecca69 75%,
    #efda93 79%,
    #f3edc5 82%,
    #f5f2d2 83%,
    #ededec 99%
  );
}

/* span 樣式 */
.Abouttit {
  color: #333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  display: inline; /* 確保與文字同行 */
  white-space: nowrap; /* 防止換行 */
}

/* img 樣式 */
.Abouticon {
  display: inline; /* 確保圖片不換行 */
  vertical-align: middle; /* 圖片與文字垂直對齊 */
  margin-left: 8px; /* 調整圖片與文字之間的距離 */
}

.Aboutcontant {
  width: 919px;
  height: 147px;
  flex-shrink: 0;
  color: #404040;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 1.68px;
}
.Abouttitl {
  display: none;
}
@media screen and (max-width: 768px) {
  body,
  html {
    margin: 0 auto;
  }

  .Abouticon {
    display: inline; /* 確保圖片不換行 */
    vertical-align: middle; /* 圖片與文字垂直對齊 */
    margin-left: 8px; /* 調整圖片與文字之間的距離 */
  }

  .gridContainer {
    padding: 40px 20px;
    background-image: url(../../assets/imges/about/aboutbackground.svg);
    background-size: cover;
    padding-bottom: 20px;
  }

  .Aboutcontant {
    max-width: 90%;
    margin-left: 10px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 25px; /* 216.667% */
    padding-top: 50px;
    font-family: Inter, sans-serif;
  }

  .AboutTitle {
    color: #35003b;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    letter-spacing: 4.8px;
    display: inline-block;
    white-space: nowrap; /* 禁止內容換行 */
    margin-top: 60px;
    position: absolute;
    top: 20px;
  }

  .Abouttit {
    font-family: Inter, sans-serif;
    font-size: 15px;
  }

  .Abouttitl {
    display: block; /* Make the image a block-level element */
    margin-left: auto; /* Push the image to the right */
    width: 20px;
    height: auto;
    position: relative;
    bottom: 20px;
    padding-top: 10px;
    left: 5px;
  }
}
