.headerLogo {
  width: auto;
  margin-top: 30px;
  justify-content: center;
}

.logoImage {
  width: 67px;
}
.HunBagermenu {
  display: none;
}
.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .headerLogo {
    width: 90%; /* 确保宽度为100% */
    position: fixed;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  /* Logo 样式 */
  .logoImage {
    width: 30px;
    height: auto;
    padding-top: 10px;
    margin-left: 20px;
  }

  .HamburgerMenu {
    padding-top: 10px;
    display: flex;
    margin-right: 10px;
  }
}
