.headerLogo {
  width: auto;
  margin-top: 30px;
  justify-content: center;
}

.logoImage {
  width: 67px;
}

@media screen and (max-width: 768px) {
  .headerLogo {
    max-width: 100%;
  }
  .logoImage {
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
  }
}
