:root {
  font-family: Inter, sans-serif;
  background-color: #ededec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "header header line"
    "menu content line"
    "footer footer line";

  grid-template-columns: 300px 1fr 8px;
  height: 100vh;
  width: 100%;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu {
  grid-area: menu;
  width: 300px;
  margin-left: 35px;
}

.column {
  grid-area: content;
}

.gradientColumn {
  grid-area: line;
  background: linear-gradient(
    180deg,
    #6d4799 0%,
    #805785 7%,
    #ac7c59 24%,
    #cb973a 39%,
    #dfa826 52%,
    #e6ae20 61%,
    #e6af24 64%,
    #e7b532 67%,
    #e9bd49 71%,
    #ecca69 75%,
    #efda93 79%,
    #f3edc5 82%,
    #f5f2d2 83%,
    #ededec 99%
  );
  height: 1900px;
  position: fixed;
  right: 0;
  top: 0;
  width: 8px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
  .gridContainer {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    max-width: 768px;
    height: 100%;
  }

  .menu {
    display: none; /* 隱藏菜單 */
  }

  /* 可以根據需求進一步調整其他元素的佈局 */
  .header,
  .footer,
  .column {
    width: 100%; /* 使這些元素寬度填滿 */
  }

  .header {
    height: 50px;
  }

  .menu {
    display: none;
  }
}
