.gridContainer {
  background-color: #ededec;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.column {
  background-color: #ededec;
}

.gradientline {
  position: fixed; /* 確保固定於視窗 */
  background: linear-gradient(
    180deg,
    #6d4799 0%,
    #805785 7%,
    #ac7c59 24%,
    #cb973a 39%,
    #dfa826 52%,
    #e6ae20 61%,
    #e6af24 64%,
    #e7b532 67%,
    #e9bd49 71%,
    #ecca69 75%,
    #efda93 79%,
    #f3edc5 82%,
    #f5f2d2 83%,
    #ededec 99%
  );
  top: 0;
  right: 0; /* 固定於視窗右側 */
  width: px;
  height: 100vh; /* 保證高度貫穿整個視窗 */
  z-index: 9999; /* 確保在內容上方 */
}
