.section {
  position: absolute; /* 讓背景區塊絕對定位 */
  top: 0; /* 依照需求調整位置 */
  left: 0; /* 依照需求調整位置 */
  width: 100%; /* 確保背景區塊佔據整個寬度 */
  height: 100%; /* 確保背景區塊佔據整個高度 */
  z-index: -1; /* 讓背景區塊位於其他元素下方 */
}

.HeaderHeroSection,
.About,
.Features,
.Recommended,
.ContactUs,
.Inquiry,
.Contract {
  position: relative; /* 確保背景是相對於區塊定位 */
  width: 100%; /* 背景寬度填滿 */
  background-repeat: no-repeat; /* 防止重複背景 */
  background-size: cover; /* 確保背景圖片覆蓋容器 */
  background-position: center; /* 背景圖片置中 */
}

.HeaderHero {
  background-image: url(../../assets/imges/hero/herobackgroud.svg);
  height: 1050px; /* Hero 區域的高度 */
}

.About {
  background-image: url(../../assets/imges/about/aboutbackground.svg);
  height: 100vh; /* About 區域的高度 */
}

.Features {
  background-image: url(../../assets/imges/features/featuresbackground.svg);
  height: 2800px; /* Features 區域的高度 */
}

.Recommended {
  height: 2190px; /* Recommended 區域的高度 */
}

.ContactUs {
  background-image: url(../../assets/imges/hero/herobackgroud.svg);
  height: 1000px; /* Contract 區域的高度 */
}

.Inquiry {
  height: 1650px; /* Inquiry 區域的高度 */
}

.Contract {
  background-image: url(../../assets/imges/features/featuresbackground.svg);
  height: 1000px; /* Contract 區域的高度 */
}
